@import 'src/utils.scss';

.paginationWrapper {
  @include flex-centered;

  margin-top: 32px;

  @include is-tablet {
    margin-top: 48px;
  }
}

.pagination {
  @include flex-centered;

  background-color: var(--color-white);

  border-radius: var(--button-border-radius);
  overflow: hidden;
  border-bottom: var(--border-bottom-quaternary);
}

.button {
  padding: 12px 12px;
  background-color: var(--color-white);

  transition:
    background-color var(--standard-transition),
    padding calc(var(--standard-transition) * 0.75);

  &:hover {
    background-color: var(--color-grey-6);
    padding: 14px 12px 10px;

    &:disabled {
      background-color: var(--color-white);
      padding: 12px 12px;

      @include is-tablet {
        padding: 12px 24px;
      }
    }

    @include is-tablet {
      padding: 14px 24px 10px;
    }
  }

  &:disabled {
    color: #aaa;
    fill: #aaa;
    cursor: default;
    transform: none;
  }

  @include is-tablet {
    padding: 12px 24px;
  }
}

.ellipsis {
  color: var(--color-black);

  padding: 12px 24px;

  font-weight: 600;
  user-select: none;
}

.active {
  font-weight: bold;
  color: var(--color-brown-2);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.arrowIcon {
  min-width: 16px;
  height: auto;
  vertical-align: middle;
}

.rightArrow {
  transform: rotate(180deg);
}
