@import 'src/utils.scss';

.startContainer {
  width: 100%;
  // background-color: red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
}

.loading {
  @include flex-centered(column);

  width: 100%;
  height: 100%;
  flex-grow: 1;
}

// .contentWrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 48px;

//   @include is-desktop {
//     flex-direction: row;
//   }
// }

.contentContainer {
  min-width: calc(100% - var(--insta-feed-width-desktop));
  display: flex;
  flex-direction: column;
    // flex-direction: column-reverse;
  gap: 32px;

  @include is-desktop {
    // gap: 0;
  }
}

.articlesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-bottom: 24px;

  @include is-desktop {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
  }
}

.eventsContainer {
  @include is-desktop {
    margin-top: 12px;
  }
}

.upcomingHeader {
  @include font-20;

  margin-bottom: 12px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-white);
}

.moreEvents {
  color: var(--color-brown-1);
  font-size: 1em;
  transition: color var(--standard-transition);

  &:hover {
    color: var(--color-blue-4);
  }
}

.eventsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @include is-desktop {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
  }
}

.instaWrapper {
  @include flex-centered;
  max-width: 100%;
  width: fit-content;
  // height: 100%;

  @include is-desktop {
    max-width: var(--insta-feed-width-desktop);
  }
}
