@import '../../utils.scss';

.startContainer {
  width: 100%;
  // background-color: red;
}

.mainArticle {
  width: 100%;
  display: flex;
}

.mainContent {
  width: 40%;
}

.mainImage {
  width: 60%;
  background-color: blue;
}

.mainHeading {
  @include font-32-bold;
  margin-bottom: 16px;
}
