:root {
  // Color
  --color-html-bg: #6f7688;
  --primary-bg-color: #353535;
  --secondary-bg-color: #1f1e1d;
  --color-brown-1: #b68960;
  --color-brown-2: #9a6d42;
  --color-brown-3: #ebc199;
  --color-brown-4: #7e532b;
  --color-brown-5: #613914;
  --color-blue-1: #4119a5;
  --color-blue-2: #280a73;
  --color-blue-3: #1a0353;
  --color-blue-4: #8ea3f5;
  --color-blue-5: #391dda;
  --color-blue-6: #414eff;
  --color-blue-7: #6133d3;
  --color-red-1: #ff2727;
  --color-red-2: #e95151;
  --color-red-3: #ff7171;
  --color-spinner-1: #e4db87;
  --color-spinner-2: #e38935;

  // Greyscale
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #535353;
  --color-grey-50: rgba(84, 84, 84, 40%);
  --color-grey-1: #404042;
  --color-grey-2: #5b5b5b;
  --color-grey-3: #979797;
  --color-grey-4: #b7b7b7;
  --color-grey-5: #eaeaea;
  --color-grey-6: #f3f3f3;
  --color-grey-7: #fafafa;
  --color-grey-8: #dddddd;

  // Modal colors
  --modal-bg-color: #24252c;
  --modal-text-color: var(--color-white);
  --color-beige: #ecbb8e;
  --theme-gradient-color-1: #cecece;
  --theme-gradient-color-2: var(--color-white);
  --theme-gradient-color: linear-gradient(
    90deg,
    var(--theme-gradient-color-1) 0%,
    var(--theme-gradient-color-2) 50%,
    var(--theme-gradient-color-1) 100%
  );
  --theme-gradient-color-hover: linear-gradient(
    to top left,
    var(--theme-gradient-hover-color-1) 0%,
    var(--theme-gradient-hover-color-2) 100%
  );

  // Gradients
  --button-gradient-primary: linear-gradient(
    to bottom right,
    var(--color-brown-2) 0%,
    var(--color-brown-4) 100%
  );
  --button-gradient-primary-hover: linear-gradient(
    to bottom right,
    var(--color-brown-4) 0%,
    var(--color-brown-5) 100%
  );
  --button-gradient-primary-disabled: linear-gradient(
    to bottom right,
    var(--color-grey-3) 0%,
    var(--color-grey-1) 100%
  );
  --button-gradient-secondary: linear-gradient(
    to bottom right,
    var(--color-blue-1) 0%,
    var(--color-blue-2) 100%
  );
  --button-gradient-secondary-hover: linear-gradient(
    to bottom right,
    var(--color-blue-2) 0%,
    var(--color-blue-3) 100%
  );

  // Buttons
  --color-button-primary: var(--color-white);
  --color-button-primary-background: var(--button-gradient-primary);
  --color-button-primary-hover: var(--color-white);
  --color-button-primary-hover-background: var(--button-gradient-primary-hover);
  --color-button-primary-disabled: var(--color-grey-4);
  --color-button-primary-disabled-background: var(
    --button-gradient-primary-disabled
  );
  --color-button-secondary: var(--color-white);
  --color-button-secondary-background: var(--button-gradient-secondary);
  --color-button-secondary-hover: var(--color-grey-1);
  --color-button-secondary-hover-background: var(
    --button-gradient-secondary-hover
  );
  --color-button-secondary-disabled: var(--color-grey-4);
  --color-button-secondary-disabled-background: var(
    --button-gradient-primary-disabled
  );
  --color-button-tertiary: var(--color-white);
  --color-button-tertiary-background: var(--color-brown-2);
  --color-button-tertiary-hover: var(--color-grey-1);
  --color-button-tertiary-hover-background: var(--color-brown-4);
  --color-button-quaternary: var(--color-black);
  --color-button-quaternary-background: var(--color-white);
  --color-button-quaternary-hover: var(--color-grey-1);
  --color-button-quaternary-hover-background: var(--color-white);

  // Dimensions
  --header-height-mobile: 96px;
  --header-height-desktop: 160px;
  --footer-height: 50px;
  --insta-feed-width-desktop: 320px;
  --insta-feed-width-mobile: 100%;
  --date-width-and-height: 80px;
  --date-width-and-height-mobile: 50px;

  // Border
  --border-bottom-primary: 2px solid var(--color-brown-1);
  --border-bottom-secondary: 2px solid var(--color-white);
  --border-bottom-quaternary: 2px solid var(--color-brown-2);
  --heading-border-bottom-white: 1px solid var(--color-white);
  --heading-border-bottom-brown: 1px solid var(--color-brown-2);
  --heading-border-bottom-blue: 1px solid var(--color-blue-6);

  // Border radius
  --button-border-radius: 6px;
  --image-border-radius: 18px;
  --gallery-item-border-radius: 12px;
  --input-radius: 8px;

  // Margin
  --main-margin-top: 18px;
  --main-margin-bottom: 48px;

  // Padding
  --main-padding-width-desktop: 88px;
  --main-padding-width-mobile: 1em;
  --main-padding-height-desktop: 2em;
  --main-padding-height-mobile: 1em;
  --main-padding-gap: 24px;
  --contact-card-padding: 24px 40px;

  // Box shadow
  --box-shadow-primary: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-secondary: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);

  // Transitions
  --standard-transition: 0.2s;

  // Z-index.
  --index-header: 3;
  --index-back-button: 4;
  --index-menu: 5;
  --index-nav-menu: 10;
  --index-chat: var(--index-menu);
  --index-count-down: 5;
  --index-language-selector: 6;
  --index-splash-screen: 7;
  --index-loader-spinner: 5;
  --index-notifications: 10;
  --index-modal: 20;
}
