@import 'src/utils.scss';

.soldOutWrapper {
  position: absolute;
  top: 8px;
  left: 8px;

  background-color: var(--color-white);
  padding: 4px 12px;
  border-radius: var(--gallery-item-border-radius);
}

.soldOutText {
  @include font-14;

  font-weight: 600;
  margin: 0;
}
