@import 'src/utils.scss';

.button {
  z-index: 0;
  position: relative;
  display: flex;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 128px;
  height: 36px;
  margin: 0;

  background-image: var(--color-button-primary-background);
  border-radius: var(--button-border-radius);

  color: var(--color-button-primary);
  font-weight: 400;
  font-size: rem(16);
  font-family: var(--font-family-body);
  line-height: 2;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;

  outline: 0 none;

  pointer-events: auto;
  transform: scale(1);
  transition: transform 0.2s;

  // transition: background-color 0.15s, color 0.15s;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';

    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: var(--color-button-primary-hover-background);
    border-radius: var(--button-border-radius);

    opacity: 0;
    transition: opacity 0.15s linear;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }

  // &:focus {
  //   box-shadow: var(--box-shadow-focus);
  // }

  &.isDisabled {
    background: var(--color-button-primary-disabled-background);

    color: var(--color-button-primary-disabled);

    cursor: not-allowed;

    pointer-events: none;

    .hasIcon {
      opacity: 0.4;
    }
  }

  &.isSecondary {
    background: var(--color-button-secondary-background);

    color: var(--color-button-secondary);

    &::before {
      background-image: var(--color-button-secondary-hover-background);
    }

    &.isDisabled {
      background: var(--color-button-secondary-disabled-background);

      color: var(--color-button-secondary-disabled);
    }
  }

  &.isTertiary {
    background: var(--color-button-tertiary-background);
    max-width: fit-content;
    padding: 0 12px;
    height: 40px;

    border-bottom: var(--border-bottom-secondary);

    color: var(--color-button-tertiary);

    &::before {
      background: var(--color-button-tertiary-hover-background);
    }
  }

  &.hasIconButton {
    max-width: fit-content;
    padding: 0 24px;
    gap: 24px;
  }

  .hasIcon {
    width: 28px;
  }

  > span {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
  }
}
