@import 'src/utils.scss';

.productContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--main-padding-gap);

  flex-grow: 1;
  padding-top: 40px;

  @include is-desktop {
    flex-direction: row;
    gap: 50px;
  }
}

.infoContainer {
  flex-grow: 1;
  max-width: 100%;
  margin-bottom: 24px;

  @include is-desktop {
    max-width: 40%;
    margin-bottom: 0;
  }
}

.productHeading {
  border-bottom: var(--heading-border-bottom-brown);
}

.priceContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 0 12px;
}

.priceParagraph,
.productAmount {
  font-weight: 600;
}

.strikeThrough {
  position: relative;
  padding: 0 8px;
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: calc(50% - 0.5px);
    height: 1px;
    background-color: var(--color-white);
  }
}

.productDescription {
  @include font-16;
  margin-bottom: 40px;

  white-space: pre-line;
}
