@import 'src/utils.scss';

.spinner {
  display: block;

  width: 1.5em;
  height: 1.5em;

  &::after {
    content: '';

    display: block;

    width: 1.5em;
    height: 1.5em;

    border: 2px solid var(--color-spinner-2);
    border-top-color: var(--color-spinner-1);
    border-radius: 50%;

    will-change: transform;
    animation: spinner 0.6s linear infinite;
  }
}

.isSmall {
  font-size: 8px;
}

.isMedium {
  font-size: 16px;
}

.isLarge {
  font-size: 24px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
