@import 'src/utils.scss';

.languagePickerContainer {
  position: absolute;
  z-index: var(--index-language-selector);
  top: 0;
  right: 128px;
  color: var(--color-black);
  background-color: var(--color-white);
  width: fit-content;
  min-width: 168px;
  height: 32px;
  border-radius: 0 0 8px 8px;
  font-family:"Maven Pro",  -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  svg {
    max-height: 24px;
    width: auto;
  }

  &.isMobile {
    right: 96px;
    min-width: 112px;
  }

  &:hover,
  &.isLanguagePickerOpen {
    .globeIcon::after {
      opacity: 1;
    }
    .languageChosen {
      color: var(--color-brown-2);
    }
    svg {
      fill: var(--color-brown-2);
    }
  }
}

.globeIcon {
  position: relative;
  height: 24px;
  width: 24px;
  background-color: var(--color-grey);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-brown-2);
    opacity: 0;
    transition: opacity var(--standard-transition);
  }
}

.languagePicker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  cursor: pointer;
}

.languageChosenWrapper {
  display: flex;
}

.languageChosen {
  transition: color var(--standard-transition);
}

.arrowDown {
  width: 8px;
  height: auto;
  margin-left: 12px;
  color: var(--color-grey);

  svg {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transition: transform 0.5s, fill var(--standard-transition);
  }
}

.isRotated svg {
  transform: rotate(-180deg);
}

.languagesList {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  min-width: 168px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 12px;
  transition: all 0.4s;
  transform-origin: top;

  input {
    margin-right: 12px;
  }

  li {
    width: 100%;
    justify-content: flex-start;
    cursor: pointer;

    .language {
      transition: transform var(--standard-transition);
    }

    &:hover {
      .language {
        transform: translateX(2px);
      }
    }
  }

  &.isMobile {
    min-width: 112px;
    padding: 16px 8px;

    input {
      margin-right: 6px;
    }
  }
}

.isInvisible {
  top: 32px;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  transform: scaleY(0);
}
