@import 'src/utils.scss';

.articleContainer {
}

.mainArticle {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  @include is-desktop {
    flex-direction: column-reverse;
  }

  &.isMainArticle {
    flex-direction: column-reverse;
    gap: 16px;

    @include is-desktop {
      flex-direction: row;
      gap: 5%;
    }
  }
}

.mainContent {
  position: relative;
  width: 100%;

  &.gridContent {
    width: 100%;
  }

  @include is-desktop {
    width: 50%;
  }
}

.imageSection {
  width: 100%;

  &.isMainArticle {
    @include is-desktop {
      width: 45%;
    }
  }
}

.mainHeading {
  @include font-24-bold;
  margin-bottom: 24px;
  color: var(--color-white);
  transition: color var(--standard-transition);

  text-wrap: balance;

  &:hover {
    color: var(--color-blue-4);
  }

  &.smallerHeading {
    @include font-20;
    font-weight: 700;
    margin-bottom: 16px;
  }

  @include is-desktop {
    @include font-32-bold;
  }
}

.mainParagraph {
  margin-bottom: 12px;

  &.smallParagraph {
    @include font-14;
  }
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  height: 0;
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin-bottom: 12px;
  padding-bottom: 56.25%;

  border-radius: var(--image-border-radius);
  box-shadow: var(--box-shadow-secondary);
  transition:
    opacity var(--standard-transition),
    scale var(--standard-transition);
  overflow: hidden;

  &:hover {
    // opacity: 0.7;
    scale: 1.025;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.mainArticleImageWrapper {
    height: auto;
    padding-bottom: 0;

    img {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      height: auto;
      // object-fit: initial;
    }
  }

  @include is-desktop {
    margin-bottom: 20px;
  }
}
