@import 'src/utils.scss';

.emblaWrapper {
  position: relative;
  border-radius: 24px;
}

.instaHeading {
  position: absolute;

  width: 32px;

  outline: 2px solid white;
  border-radius: 8px;

  top: 8px;
  left: 8px;

  &:hover {
    opacity: 0.75;
  }
}

.instaIcon {
  width: 32px;
}

.emblaContainer {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  max-height: 200px;

  @include is-desktop {
    max-height: 300px;
  }
}

.emblaSlide {
  flex: 0 0 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  border-radius: 24px;
  user-select: none;
  background-image: var(--button-gradient-primary-hover);
  box-shadow: var(--box-shadow-secondary);

  &:hover img {
    opacity: 0.6;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    transition: opacity Var(--standard-transition);
  }

  @include is-desktop {
    flex: 0 0 50%;
  }
}

.navigation {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;

  @include is-desktop {
    bottom: 12px;
  }
}

.dots {
  display: flex;
  gap: 16px;
}
