@import 'src/utils.scss';

.footer {
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:
    'Maven Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Source Sans Pro',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 0.9em;
  background-color: transparent;
  color: var(--color-white);
  margin: 0;
}
