@import 'src/utils.scss';

.notFound {
  // position: relative;
  // inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: red;
  min-height: 100%;
  text-align: center;
  // margin-top: var(--header-height-mobile);
  // padding: 0 var(--main-padding-width-mobile);

  @include is-desktop {
    // margin-top: 0;
    // padding: var(--header-height-desktop)
    //   var(--main-padding-width-desktop) calc(var(--footer-height) + var(--main-padding-height-desktop));
  }
}
